<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <h1>STOWER</h1>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="tap" href="/drainage">
                    <h2>Moon</h2>
                </a>
            </li>
            <li>
                <a class="tap" href="/">
                    <h2>Current</h2>
                </a>
            </li>
            <li>
                <a class="tap" href="/store">
                    <h2>Sun</h2>
                </a>
            </li>
        </ul>
    </div>
</nav>
<body class="drainage">
  <div class="container">
      <div class="page-header">
        <h1>Drainage</h1>
      </div>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button tap" class="btn btn-primary">Last 24 Hours</button>
        <button type="button tap" class="btn btn-secondary">Last 7 days</button>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <img class="pull-left" src="https://weighmytruck.com/img/icon-app.png">
          App Store
          <strong class="pull-right">23%</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.squawkfox.com/wp-content/themes/squawkfox_pro/images/social-icons-round/google_plus.png">
          Google Plus
          <strong class="pull-right">20%</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.shimiegames.com/images/amazzo.png">
          Amazon
          <strong class="pull-right">15%</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="https://whova.com/wp-content/uploads/2015/03/twitter-icon-whova-app.png">
          Twitter
          <strong class="pull-right">12%</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="https://www.atsc.army.mil/tadlp/assets/imgs/mbl/instagram.png">
          Instagram
          <strong class="pull-right">11%</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.mactrast.com/wp-content/uploads/2015/08/Netflix-app-Icon-50x50.png">
          Netflix
          <strong class="pull-right">5%</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.icreatemagazine.com/wp-content/uploads/2013/08/Safari.png">
          Browser
          <strong class="pull-right">1%</strong>
        </li>
      </ul>
  </div>
</body>
