
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop</title>
</head>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand tap" href="#">STOWER</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="tap" href="/drainage">Moon</a>
                    </li>
                    <li>
                        <a class="tap" href="/">Current</a>
                    </li>
                    <li>
                        <a class="tap" href="/store">Sun</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="container drainage">

  <div class="page-header">
    <h1>Drainage</h1>
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button tap" class="btn btn-primary">Last 24 Hours</button>
    <button type="button tap" class="btn btn-secondary">Last 7 days</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <img class="pull-left" src="https://weighmytruck.com/img/icon-app.png">
      App Store
      <strong class="pull-right">23%</strong>
    </li>
    <li class="list-group-item">
      <img class="pull-left" src="http://www.squawkfox.com/wp-content/themes/squawkfox_pro/images/social-icons-round/google_plus.png">
      Google Plus
      <strong class="pull-right">20%</strong>
    </li>
    <li class="list-group-item">
      <img class="pull-left" src="http://www.shimiegames.com/images/amazzo.png">
      Amazon
      <strong class="pull-right">15%</strong>
    </li>
    <li class="list-group-item">
      <img class="pull-left" src="https://whova.com/wp-content/uploads/2015/03/twitter-icon-whova-app.png">
      Twitter
      <strong class="pull-right">12%</strong>
    </li>
    <li class="list-group-item">
      <img class="pull-left" src="https://www.atsc.army.mil/tadlp/assets/imgs/mbl/instagram.png">
      Instagram
      <strong class="pull-right">11%</strong>
    </li>
  </ul>



</div>
