<body class="power-management">
  <div class="container">
      <div class="page-header">
        <h1>Power Management</h1>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <strong class="pull-left">App</strong>
          <strong class="pull-right">Hours</strong>
        </li>
        <li id="range-02" class="list-group-item">
          <img class="pull-left" src="https://weighmytruck.com/img/icon-app.png">
          App Store
          <strong class="pull-right">
            <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-ticks="[0, 1, 2, 3]"
                data-slider-ticks-labels='["0", "1", "2", "3"]'
                data-slider-min="0"
                data-slider-max="3"
                data-slider-step="1"
                data-slider-value="1"
                data-slider-tooltip="show"
            >
          </strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.squawkfox.com/wp-content/themes/squawkfox_pro/images/social-icons-round/google_plus.png">
          Google Plus
          <strong class="pull-right">
            <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-ticks="[0, 1, 2, 3]"
                data-slider-ticks-labels='["0", "1", "2", "3"]'
                data-slider-min="0"
                data-slider-max="3"
                data-slider-step="1"
                data-slider-value="1"
                data-slider-tooltip="show"
            >
          </strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.shimiegames.com/images/amazzo.png">
          Amazon
          <strong class="pull-right">
            <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-ticks="[0, 1, 2, 3]"
                data-slider-ticks-labels='["0", "1", "2", "3"]'
                data-slider-min="0"
                data-slider-max="3"
                data-slider-step="1"
                data-slider-value="1"
                data-slider-tooltip="show"
            >
          </strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="https://whova.com/wp-content/uploads/2015/03/twitter-icon-whova-app.png">
          Twitter
          <strong class="pull-right">
            <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-ticks="[0, 1, 2, 3]"
                data-slider-ticks-labels='["0", "1", "2", "3"]'
                data-slider-min="0"
                data-slider-max="3"
                data-slider-step="1"
                data-slider-value="1"
                data-slider-tooltip="show"
            >
          </strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="https://www.atsc.army.mil/tadlp/assets/imgs/mbl/instagram.png">
          Instagram
          <strong class="pull-right">
            <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-ticks="[0, 1, 2, 3]"
                data-slider-ticks-labels='["0", "1", "2", "3"]'
                data-slider-min="0"
                data-slider-max="3"
                data-slider-step="1"
                data-slider-value="1"
                data-slider-tooltip="show"
            >
          </strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.mactrast.com/wp-content/uploads/2015/08/Netflix-app-Icon-50x50.png">
          Netflix
          <strong class="pull-right">
            <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-ticks="[0, 1, 2, 3]"
                data-slider-ticks-labels='["0", "1", "2", "3"]'
                data-slider-min="0"
                data-slider-max="3"
                data-slider-step="1"
                data-slider-value="1"
                data-slider-tooltip="show"
            >
          </strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.icreatemagazine.com/wp-content/uploads/2013/08/Safari.png">
          Browser
          <strong class="pull-right">
            <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-ticks="[0, 1, 2, 3]"
                data-slider-ticks-labels='["0", "1", "2", "3"]'
                data-slider-min="0"
                data-slider-max="3"
                data-slider-step="1"
                data-slider-value="1"
                data-slider-tooltip="show"
            >
          </strong>
        </li>
      </ul>
  </div>
  <script type="text/javascript">
    // $("#ex8").slider({
    //   tooltip: 'always'
    // });
  </script>
</body>
