<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top sky-header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >
                <h1 id="sky-header-name">Dan I. Carpenter</h1>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="tap" href="/private_plane#contact">
                    <h2 id="sky-header-contact">Contact</h2>
                </a>
            </li>
            <li>
                <a class="tap" href="/private_plane#">
                    <h2 id="sky-header-pricing">Pricing</h2>
                </a>
            </li>
            <li>
                <a class="tap" href="/private_plane#photos">
                    <h2 id="sky-header-photos">Photos</h2>
                </a>
            </li>
        </ul>
    </div>
</nav>
<body class="sky-body">
    <div id="sky-tab">
        <h3 id='photos'>
          <div class="container-fluid">
              <div class="row text-center">
                <h1 class="headermessage"> Commander 112-A </h1>

              </div>
            <div class="row">
                <div class="image-block col-lg-4" style="height:250px;background: url(https://i.imgur.com/tEUQ8qE.jpg) no-repeat center top;background-size:cover;">
                   <p> Semitar 3 blade propeller </p>
                </div>
                <div class="image-block col-lg-4" style="height:250px;background: url(https://i.imgur.com/sRtxo6v.jpg) no-repeat center top;background-size:cover;">
                   <p> Right-side</p>
                </div>
                <div class="image-block col-lg-4" style="height:250px;background: url(https://i.imgur.com/FHh2CGS.jpg) no-repeat center top;background-size:cover;">
                   <p> Right-side</p>
              </div>
            </div>
              <div class="row">
                <div class="image-block col-lg-4" style="height:250px;background: url(https://i.imgur.com/nS2VseM.jpg) no-repeat center top;background-size:cover;">
                   <p> Panel </p>
                </div>
                <div class="image-block col-lg-4" style="height:250px;background: url(https://i.imgur.com/cPSMXO9.jpg) no-repeat center top;background-size:cover;">
                   <p> Front Seat Upholstery </p>
                </div>
                <div class="image-block col-lg-4" style="height:250px;background: url(https://i.imgur.com/aN9pAAG.jpg) no-repeat center top;background-size:cover;">
                   <p> Custom Walnut Door Panel  </p>
                </div>
              </div>
              <div class="row">
                <div class="image-block col-lg-6" style="height:500px;background: url(https://i.imgur.com/5VSpcDu.jpg) no-repeat center top;background-size:cover;">
                   <p>  </p>
                </div>
                <div class="image-block col-lg-6" style="height:500px;background: url(http://i.imgur.com/2Xt4A3o.jpg) no-repeat center top;background-size:cover;">
                   <p>   </p>
                </div>
             </div>
        </div>
      </h3>
      <h3 id="features">
            <h3 class="headermessage">1100 hours total time air frame.  10 hr since complete engine overhaul and new Semitar 3 blade propeller </h3>
            <ul>
              <h3>
                <span style="color:black"> Features: </span>
              </h3>
                  <li> New Carpet </li>
                  <li> New Front Seat Upholstery </li>
                  <li> Custom Walnut Door Panels </li>
                  <li>  New Headliner </li>
                  <li> Around 30 Hours on all 3 new tires & Tubes </li>
                  <li> Paint 8.5 out of 10 </li>
                  <li> Flap Gap Seals </li>
            </ul>
          <ul>
             <h3>
               <span style="color:black"> Subjective Performance: </span>
             </h3>
             <li> Climb  - Solo with 3/4 tanks of fuel, 50 degrees F, 90kt indicated from a 2500 above sea level field: 1200 FPM </li>
             <li> Fuel Economy - 5.5 gallons per hour at 23/23  at 5000' above sea level and 120 kt indicated airspeed.</li>
            <li>Squawks: Autopilot Inoperative</li>
            <li>Original Panel, one VOR, DME, Transponder</li>
          </ul>
     </h3>
     <h3 id="contact" >
         <ul> <span style="color:black"> Contact Info: </span>
            <h3 class="headermessage">

                    <li>Email: dic9944@yahoo.com </li>
                    <li> Phone: (808) 381-2831   </li>

            <h3>
          </ul>
      </h3>
    </div>
</body>


