<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top sky-header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >
                <h1 id="sky-header-name">Dan I. Carpenter</h1>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="tap" href="/private_plane#contact">
                    <h2 id="sky-header-contact">Contact</h2>
                </a>
            </li>
            <li>
                <a class="tap" href="/private_plane#">
                    <h2 id="sky-header-pricing">Pricing</h2>
                </a>
            </li>
            <li>
                <a class="tap" href="/private_plane#photos">
                    <h2 id="sky-header-photos">Photos</h2>
                </a>
            </li>
        </ul>
    </div>
</nav>
<body class="sky-body">
    <div id="sky-tab">
        <h3 id='photos'> Commander 112-A 1100 hours total time air frame.  10 hr since complete engine overhaul and new Semitar 3 blade propeller
          <div class="container-fluid">
              <div class="row text-center">
                <h3 class="headermessage">Responsive Image Tiles</h3>
              </div>
            <div class="row">
                <div class="image-responsive col-lg-4" style="height:250px;background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
                   <p> Image Info </p>
                </div>
                <div class="image-responsive col-lg-4" style="height:250px;background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
                   <p> Image Info </p>
                </div>
                <div class="image-responsive col-lg-4" style="height:250px;background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
                   <p> Image Info </p>
              </div>
            </div>
              <div class="row">
                <div class="image-responsive col-lg-4" style="height:250px;background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
                   <p> Image Info </p>
                </div>
                <div class="image-responsive col-lg-4" style="height:250px;background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
                   <p> Image Info </p>
                </div>
                <div class="image-responsive col-lg-4" style="height:250px;background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
                   <p> Image Info </p>
                </div>
              </div>
              <div class="row">
                <div class="image-responsive col-lg-4" style="height:250px;background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
                   <p> Image Info </p>
                </div>
                <div class="image-responsive col-lg-4" style="height:250px;background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
                   <p> Image Info </p>
                </div>
             </div>
        </div>
      </h3>
        <h3 id="features">
            <span style="color:black"> Features: </span>
                    <li> New Carpet </li>
                    <li>  New Front Seat Upholstery </li>
                    <li> Custom Walnut Door Panels </li>
                    <li>  New Headliner </li>
                    <li> Around 20 Hours on all 3 new tires & Tubes </li>
                    <li> Paint 8.5 out of 10 </li>
                    <li> Flap Gap Seals </li>

           <span style="color:black"> Subjective Performance: </span>
                   <li> Climb  - Solo with 3/4 tanks of fuel, 50 degrees F, 90kt indicated from a 2500 above sea level field: 1200 FPM </li>
                   <li> Fuel Economy - 5.5 gallons per hour at 23/23  at 5000' above sea level and 120 kt indicated airspeed.</li>

                  Squawks: Autopilot Inoperative
                    Original Panel, one VOR, DME, Transponder
        </h3>

        <h3 id="contact">
          <ul> <span style="color:black"> Contact Info: </span>
            <li>Email: dic9944@yahoo.com </li>
            <li> Phone: (808) 381-2831   </li>
          </ul>
        </h3>
    </div>
</body>


