<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <h1>STOWER</h1>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="tap" href="/drainage">
                    <h2>Moon</h2>
                </a>
            </li>
            <li>
                <a class="tap" href="/">
                    <h2>Current</h2>
                </a>
            </li>
            <li>
                <a class="tap" href="/store">
                    <h2>Sun</h2>
                </a>
            </li>
        </ul>
    </div>
</nav>
<body class="stats">
  <div style="margin-top: 3%" class="row">
      <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="widget  p-lg text-center">
              <div class="m-b-md">
                  <div style="font-size: 60px"class="m-xs">77%</div>
                  <h3 class="font-bold no-margins">
                      Battery
                  </h3>
              </div>
          </div>
      </div>
      <div class="col-sm-9 col-lg-9 col-md-9">
        <div class="widget  p-lg text-center">
              <div class="m-b-md">
                  <div style="font-size: 40px"class="m-xs">Remaining: 8hrs</div>
                  <h3 class="font-bold no-margins">
                      Time to change: 2hrs
                  </h3>
              </div>
          </div>
      </div>
  </div>
  <div style="margin-top: 3%" class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
          <div style="margin-left: 15%" class="ibox float-e-margins">
              <div class="ibox-content">
                  <div id="rickshaw_bars_stacked" class="rickshaw_graph"><svg width="530" height="450"><rect x="0" y="114.36999864369997" width="100.69999999999999" height="335.63000135630003" transform="matrix(1,0,0,1,0,0)" fill="#1ab394"></rect><rect x="106" y="83.8532483385325" width="100.69999999999999" height="366.1467516614675" transform="matrix(1,0,0,1,0,0)" fill="#1ab394"></rect><rect x="212" y="121.15149871151499" width="100.69999999999999" height="328.848501288485" transform="matrix(1,0,0,1,0,0)" fill="#1ab394"></rect><rect x="0" y="46.55499796555" width="100.69999999999999" height="67.81500067815001" transform="matrix(1,0,0,1,0,0)" fill="#d7d7d7"></rect><rect x="106" y="2.47524752475249" width="100.69999999999999" height="81.37800081378" transform="matrix(1,0,0,1,0,0)" fill="#d7d7d7"></rect><rect x="212" y="56.72724806727251" width="100.69999999999999" height="64.4242506442425" transform="matrix(1,0,0,1,0,0)" fill="#d7d7d7"></rect></svg></div>
              </div>
          </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-md-3">
      <br><br><br><br>
      <div class="widget  p-lg text-center">
              <div class="m-b-md">
                  <div style="font-size: 35px" class="font-bold no-margins">
                     0.2% / sec
                  </div>
              </div>
          </div>
          <br><br>
      <img style="width:200px; height: 200px"src="https://pixabay.com/static/uploads/photo/2014/04/03/11/58/rocket-312767_960_720.png">
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <span style="margin-left: 8%; font-size: 35px">
          Voltage Amps Watts
        </span>

      </div>
  </div>
</body>
