<title>Shop</title>
<!-- Navigation -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a class="tap" href="/drainage">Moon</a>
        </li>
        <li>
            <a class="tap" href="/">Current</a>
        </li>
        <li>
            <a class="tap" href="/store">Sun</a>
        </li>
    </ul>
</div>
<body class="store">
    <!-- Page Content -->
    <div class="container">
        <div class="page-header">
          <h1>Outdoor Product Store</h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6 tap">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4><a href="#">First Product</a>
                        <h4 class="pull-left">$24.99</h4>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6 col-md-6 tap">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4><a href="#">Second Product</a>
                        <h4 class="pull-left">$64.99</h4>
                        </h4>
                    </div>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 col-lg-6 col-md-6 tap">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4><a href="#">Third Product</a>
                        <h4 class="pull-left">$74.99</h4>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-6 col-md-6 tap">
                  <div class="thumbnail">
                      <img src="http://placehold.it/320x150" alt="">
                      <div class="caption">
                          <h4><a href="#">Fourth Product</a>
                          <h4 class="pull-left">$84.99</h4>
                          </h4>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 tap">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x150" alt="">
                    <div class="caption">
                        <h4><a href="#">Fifth Product</a>
                        <h4 class="pull-left">$94.99</h4>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">
    </div>
    <!-- /.container -->
</body>
