<body class="time-left">
  <div class="container">
      <div class="page-header">
        <h1>Time Left</h1>
      </div>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button tap" class="btn btn-primary">Minutes</button>
        <button type="button tap" class="btn btn-secondary">Hours</button>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <img class="pull-left" src="https://weighmytruck.com/img/icon-app.png">
          App Store
          <strong class="pull-right">23 minutes</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.squawkfox.com/wp-content/themes/squawkfox_pro/images/social-icons-round/google_plus.png">
          Google Plus
          <strong class="pull-right">20 minutes</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.shimiegames.com/images/amazzo.png">
          Amazon
          <strong class="pull-right">15 minutes</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="https://whova.com/wp-content/uploads/2015/03/twitter-icon-whova-app.png">
          Twitter
          <strong class="pull-right">12 minutes</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="https://www.atsc.army.mil/tadlp/assets/imgs/mbl/instagram.png">
          Instagram
          <strong class="pull-right">11 minutes</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.mactrast.com/wp-content/uploads/2015/08/Netflix-app-Icon-50x50.png">
          Netflix
          <strong class="pull-right">5 minutes</strong>
        </li>
        <li class="list-group-item">
          <img class="pull-left" src="http://www.icreatemagazine.com/wp-content/uploads/2013/08/Safari.png">
          Browser
          <strong class="pull-right">1 minutes</strong>
        </li>
      </ul>
  </div>
</body>
